*{
    margin: 0;
    padding: 0;
     border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.body{
    font-family: 'Times New Roman', Times, serif;


}

.nav{
    height: 100px;
    width: 100%;
    background: #76808a;
}
.logo{
 
    width: 280px;
    float: left;
    padding-left: 7%;
    padding-top: 3%;
    margin-left: -40px;
       margin-top: -85px;
       
   }

.nav p{
    font-size: 15px;
    text-align: center;
    color: rgb(253, 249, 249);
    margin: 5px;
    padding: 2px;
    margin-top: 30px ;
    margin-left: -35px ;
}

.heater{
position: fixed;
width: 15px;
height: 500%;
background: #696771b6 ;
}
.heater ul{
    float: right;
    margin-right: 40px;

}
.nav li{
 display: inline-block;
 margin: 0 10px;
 line-height: 100px;

}
.nav a{
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}
a.active,a:hover{
    border: 1px solid white;
    transition: 2s;
}
.con{
    height: 50px;
    width: 100%;
    background: #106a58; 
    padding-top: -3px;
    margin-top: -7px;
    
}
.con ul{
    float: right;
    margin-right: 30px;
    padding-top: -3px;
    margin-top: -30px;
    

}
.con li{
 display: inline-block;
 margin: 0 10px;
 line-height: 100px;
 padding: 7px 10px;
 color: white;

 

}
.section{
    width: 100%;
    min-height: 100vh;
    background-color: #ddd;
}
.ccontainer{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;

}
.content-section{
    float: left;
    width: 55%;
    


}
.image-section{
    float: right;
    width: 40%;
}
.image-section img{
    width: 100%;
    height: auto;
}